:root {
  font-family: 'Roboto', sans-serif;
}

#left {
  background-image: url('/img/left-hero.jpg');
  background-position: center;
}

#left, #right {
  min-height: 100vh;
}

#left {
  justify-content: space-between;
  width: 33vw;
  position: relative;
  overflow: hidden;
}

body {
  margin: 0;
}

button {
  background-color: #596D48;
  color: white;
  font-weight: bold;
}

a {
  color: #596D48;
}
.login a {
  font-weight: bold;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

#imgcred, #imgcred a {
  color: white;
}

.cta {
  font-size: larger;
  font-weight: bold;
}

h1 {
  color: white;
  font-family: "Norse-Bold", sans-serif;
  font-size: 100px;
  margin: 0;
}

#hero-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  top: 20vh;
  position: relative;
}

#hero-img {
  height: 125px;
  margin: 1rem 0 1rem;
}

#cta-text {
  margin-bottom: 0;
  padding-bottom: 0;
}

fieldset {
  border: 0;
}

legend {
  font-size: larger;
  font-weight: 700;
  color: #1f2937;
}
@font-face {
  font-family: Norse-Bold;
  src: url("/fonts/Norse-Bold.otf");
}

fieldset div {
  padding-right: 4rem;
}

input {
  border: 2px solid #E5E7EB;
  border-radius: 8px;
  height: 1.5rem;
  width: 15rem;
}

label {
  font-weight: 500;
  font-size: 0.9rem;
  color: #1f2937;
}

input:focus {
  outline: none;
  border: 2px solid #2f5fe2;
  box-shadow: 0 0 5px #616161;

}